@page "/fetchdata"

@using ChessClient_Blazor.Data
@using WebApiTest.Classes;

@inject WeatherForecastService ForecastService

<h1>All Games</h1>

<p>These are all games you can join.</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>GameState</th>
            <th>Join Game</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Games)
        {
            <tr>
                <td>@DateTime.Now</td>
                <td>abcd</td>
                <td>@game.GameState</td>
                <td>
                    <button>Join</button>
                    <input type="text" id="join" @bind-value="GameCode" />
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public string GameCode { get; set; }
    private HttpClient Http = new HttpClient();
    private ICollection<Game> Games = new List<Game>();
    [Inject]
    public NavigationManager NavManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Games = await Http.GetJsonAsync<ICollection<Game> >(
        NavManager.BaseUri + "games/list");
    }
}
