@page "/"

@using ChessServer.Classes;
@inherits ChessBasePage;

<h1>Online Chess</h1>

<a>
    <input type="text" class="name" @bind-value="Name" placeholder="Name"/>
    <button class="newGameBtn" @onclick=@ButtonNewGameClicked>New Game</button>
</a>


<div>@Msg</div>

<div>
    <p>
        Time:
        <input type="number" class="time" @bind-value="minutes" placeholder="min"/>
        <input type="number" class="time" @bind-value="seconds" placeholder="inc"/>
    </p>
</div>



@functions {
    public string Name { get; set; }

    public string Msg { get; set; }

    private int minutes;

    private int seconds;

    private string GenerateRandomPlayerId()
    {
        string playerID = Guid.NewGuid().ToString("N");
        return playerID;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            this.PlayerId = GenerateRandomPlayerId();
        }
    }

    public async Task ButtonNewGameClicked()
    {
        Game game = await Http.GetJsonAsync<Game>(
            NavManager.BaseUri + $"games/new?playerId={this.PlayerId}&mins={this.minutes}&increment={this.seconds}&name={this.Name}");
        this.PlayerIsWhite = true;
        this.GameCode = game.Code;
        this.Msg = "New game created. Game code: " + this.GameCode;
        await this.SaveGameState();
        NavManager.NavigateTo("/play-game");
    }
}

<style>
    .time {
        width: 65px;
    }
    .name {
        width: 150px;
    }
</style>
